/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif; 
    background: url('../img/Foto.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4;  
  }
  
  /* Estilos para el contenedor principal */
  .container {
    max-width: 400px; 
    margin: 10px auto; 
    background-color: #ffffff6e; 
    padding: 50px; 
    border-radius: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  /* Estilos para el título */
  .titulo {
    text-align: center; 
    margin-top: 20px; 
    font-size: 50px; 
    font-family: 'Times New Roman', Times, serif; 
    color: #720808; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  
  /* Estilos para los títulos de nivel 2 */
  h2 {
    margin-bottom: 20px; 
    text-align: center; 
    margin-top: 0; 
    font-size: 32px; 
  }
  
  /* Estilos para los grupos de formularios */
  .form-group {
    margin-bottom: 20px; 
  }
  
  /* Estilos para las etiquetas de formulario */
  label {
    display: block; 
    margin-bottom: 5px; 
  }
  
  /* Estilos para los campos de entrada de texto */
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #0c0c0c79; 
    border-radius: 10px; 
  }
  
  /* Estilos para los botones */
  button {
    width: 100%; 
    padding: 10px; 
    background-color: #2011ee; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 20px; 
  }
  
  /* Estilos para el estado de desplazamiento sobre el botón */
  button:hover {
    background-color: #0056b3; 
  }
  
  /* Estilos para los párrafos */
  p {
    margin-top: 10px; 
    text-align: center; 
  }
  
  /* Estilos para los enlaces */
  a {
    color: #007bff; 
  }
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  /* Estilos para el botón de retroceso */
  .back-button {
    display: inline-block; 
    margin-bottom: 20px; 
    font-size: 24px; 
    color: #000; 
    text-decoration: none; 
    margin-right: 10px; 
  }
  .back-button:hover {
    color: #007bff; 
  }
  
  /* Estilo para alinear el título junto al ícono */
  h2 {
    display: inline-block; 
    vertical-align: middle; 
    margin-left: 10px; 
  }
  